<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "communityMapper">
 	
 	<!-- 게시글 등록 -->
 	<insert id="communityInsert" parameterType="CommunityPostVO">
 		INSERT INTO
 		COMMUNITY_POST(
 			POST_ID
 			,MEMBER_ID
 			,TITLE
 			,CONTENT
 			,HAS_FILES
 			,CHANGE_NAME
 			,ORIGIN_NAME
 			,CATEGORY
 		)VALUES(
 			#{postId}
 			,#{memberId}
 			,#{title}
 			,#{content}
 			,#{hasFiles}
 			,#{changeName}
 			,#{originName}
 			,#{category}
 		)	
 	</insert>
 	
 	<!-- 게시글 수정 -->
 	<update id="communityUpdate" parameterType="CommunityPostVO">
 		UPDATE COMMUNITY_POST
 		SET
 		TITLE = #{title}
 		,CONTENT = #{content}
 		,HAS_FILES = #{hasFiles}
 		,CHANGE_NAME = #{changeName}
 		,ORIGIN_NAME = #{originName}
 		,UPDATED_AT =  #{updatedAt}
 		,CATEGORY = #{category}
 		WHERE POST_ID = #{postId}
 	</update>
 
 	<!-- 게시글 상세보기 -->
 	<select id="communityDetail" resultType="CommunityPostVO" parameterType="_int">
 		SELECT POST_ID
 				,MEMBER_ID
 				,TITLE
 				,CONTENT
 				,ORIGIN_NAME
 				,CHANGE_NAME
 				,CATEGORY
 		FROM COMMUNITY_POST
 		WHERE POST_ID = #{postId}
 	</select>
 	
 	<!-- 게시글 삭제 -->
 	<delete id="communityDelete" parameterType="_int">
 		DELETE FROM COMMUNITY_POST
 		WHERE
 		POST_ID = #{postId}
 	</delete>
 
 
 
 
 </mapper>