<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="itemMapper">
  	
  	<!-- 포인트상점 아이템 조회 매퍼 -->
  	<select id="storeItem" resultType="ItemVO">
  		SELECT *
  		FROM ITEM
  	</select>
  	
  	<!-- 포인트상점 보유중인 아이템 조회 매퍼 -->
  	<select id="storeMyItem"
	        parameterType="int"
	        resultType="UserItemList">
	
	    SELECT
	        UI.UI_ID,
	        UI.ITEM_ID,
	        UI.USER_ID,
	        UI.PRICE AS BUY_PRICE,
	        UI.CATEGORY AS USER_CATEGORY,
	        UI.IS_EQUIPPED,
	        UI.ACQUIRED_AT,
	        UI.EQUIPPED_AT,
	
	        I.NAME,
	        I.DESCRIPTION,
	        I.RARITY,
	        I.IMAGE_URL,
	        I.CATEGORY AS ITEM_CATEGORY
	
	    FROM USER_ITEMS UI
	    JOIN ITEM I
	        ON UI.ITEM_ID = I.ITEM_ID
	    WHERE UI.USER_ID = #{memberId}
	
	</select>
	
	<!-- 카테고리별 아이템 조회 -->
	<select id="itemCategories" parameterType="string" resultType="ItemVO">
		SELECT
		ITEM_ID AS itemId,
		NAME AS itemName,
		DESCRIPTION,
		PRICE,
		RARITY,
		IS_ON_SALE AS isOnSale,
		CATEGORY,
		CREATED_AT AS createdAt,
		UPDATED_AT AS updatedAt
		FROM ITEM
		WHERE CATEGORY = #{category}
	</select>

  	
  	<!-- 포인트상점 아이템 구매 -->
  	<insert id="buyItem" parameterType="UserItemsVO">
	    INSERT INTO USER_ITEMS (
	        UI_ID,
	        ITEM_ID,
	        USER_ID,
	        ACQUIRED_AT,
	        IS_EQUIPPED,
	        PRICE,
	        CATEGORY
	    ) VALUES (
	        #{uiId},
	        #{itemId},
	        #{userId},
	        SYSDATE,
	        'N',
	        #{price},
	        #{category}
	    )
	</insert>

	<select id="randomPull" parameterType="string" resultType="ItemVO">
		SELECT * FROM (
			SELECT
				ITEM_ID as itemId,
				NAME as itemName,
				DESCRIPTION as description,
				PRICE as price,
				RARITY as rarity,
				IS_ON_SALE as isOnSale,
				CATEGORY as category
			FROM ITEM
			WHERE RARITY = #{rarity}
			ORDER BY DBMS_RANDOM.VALUE
		)
		WHERE ROWNUM = 1
	</select>
		


  	
  
</mapper>